---
import SecondaryTitle from "../../components/reusable/secondaryTitle.astro";
import Card from "../../components/reusable/card.astro";
import ThreejsPhoto from "../../assets/threejs.webp";
---

<div>
  <h1 class="title-primary">ThreeJs</h1>
  <p class="body-primary pb-5">
    I've wanted to work on learning three.js for a while now, and i've decided
    to make a simple web game using it because I figured what better way to
    learn than to just jump in and start building something. I'm likely going to
    be starting with some simple example just to ge a feel for three.js.
  </p>
  <SecondaryTitle title="ThreeJs Projects" />
  <!-- Uses the card component to show all of the available projects -->
  <div
    class="grid sm:grid-cols-1 md:grid-cols-2 xl:grid-cols-3 2xl:grid-cols-4 place-items-center"
  >
    <Card
      title="ThreeJs Lander"
      description="A first look at what can be done with three js."
      photo={ThreejsPhoto}
      alt="Picture of the threejs logo."
      route="/threejs/firstlook"
    />
    <Card
      title="ThreeJs Lander"
      description="A first look at what can be done with three js."
      photo={ThreejsPhoto}
      alt="Picture of the threejs logo."
      route="/threejs/firstlook"
    />
    <Card
      title="ThreeJs Lander"
      description="A first look at what can be done with three js."
      photo={ThreejsPhoto}
      alt="Picture of the threejs logo."
      route="/threejs/firstlook"
    />
    <Card
      title="ThreeJs Lander"
      description="A first look at what can be done with three js."
      photo={ThreejsPhoto}
      alt="Picture of the threejs logo."
      route="/threejs/firstlook"
    />
    <Card
      title="ThreeJs Lander"
      description="A first look at what can be done with three js."
      photo={ThreejsPhoto}
      alt="Picture of the threejs logo."
      route="/threejs/firstlook"
    />
  </div>
</div>
