---
import { Image } from "astro:assets";

const { title, description, photo, alt, route } = Astro.props;
---

<!-- title and description are self explanatory
     photo is the path to the image to be shown
     on the card, and alt is the alt text for 
     the image
-->
<div class="card bg-base-100 w-96 border-2 border-base-200 shadow-2xl m-5">
  <a href={route}>
    <div class="card-body">
      <h2 class="card-title">{title}</h2>
      <p>
        {description}
      </p>
    </div>
    <figure>
      <Image src={photo} alt={alt} />
    </figure>
  </a>
</div>
